<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="ls-theme-light-green">

<head>
<thymeleaf th:replace="fragments/base :: head" />
<title>Aprovar ou Reprovar Questão Detalhe</title>
<meta charset="UTF-8" />
</head>

<div th:replace="fragments/base :: ls-topbar"></div>
<div th:replace="fragments/base :: ls-sidebar"></div>

<main class="ls-main">
<div class="container-fluid">
	<h1 class="ls-title-intro ls-ico-home">Aprovar ou Reprovar Questão
		Detalhe</h1>


	<fieldset>
		<h1 th:text="${questao.status.id}"></h1>
		<label class="ls-label col-md-3"> <b class="ls-label-text">Texto
				Base:</b>
			<p th:text="${questao.textoBase}"></p>
		</label> <label class="ls-label col-md-4"> <b class="ls-label-text">Enunciado:</b>
			<p th:text="${questao.enunciado}"></p>
		</label> <label class="ls-label col-md-4"> <b class="ls-label-text">Resposta:</b>
			<p th:text="${questao.alternativa}"></p>
		</label> <label class="ls-label col-md-4"> <b class="ls-label-text">Status:</b>
			<div class="ls-custom-select ls-field-md">
				<select name="status" form="aprovar-reprovar-form" class="form-control">
					<option th:if="${questao.status.id} = 0" value="0">-</option>
					<option th:if="${questao.status.id} = 1" value="1">Aprovada</option>
					<option th:if="${questao.status.id} = 2" value="2">Não Aprovada</option>
				</select>
			</div>
		</label>
	</fieldset>
	<form id="aprovar-reprovar-form" method="post"
		th:action="@{/aprovar-reprovar-questao-detalhes/editar/} + ${questao.questaoId}"
		class="ls-form row">
		<button type="submit" value="input" class="ls-btn">Enviar</button>
	</form>

	<hr />
	<div class="ls-modal">
		<div class="ls-modal-large">
			<div class="ls-modal-header">
				<button data-dismiss="modal">&times;</button>
				<h4 class="ls-modal-title" th:value="${questao.questaoTp.descricao}"></h4>
				<br />
				<h5>Cadastrador por: Roberta Silva</h5>
				<br />
				<h5>Id: 1</h5>
			</div>
			<div class="ls-modal-body">
				<h4>Texto Base:</h4>
				<br />
				<p>Conforme definido pelo Corpo de Conhecimento para
					Gerenciamento de Projetos de Software PMBOK, um dos artefatos de
					maior importância dentro do planejamento de um projeto de software
					é a Estrutura Analítica do Projeto (EAP).</p>
				<p>A EAP apresentada na figura a seguir mapeia o processo de
					produção de um software de uma empresa e os pacotões de trabalho
					que fazem parte desse projeto de software. Percebe-se que as
					atividades de “codificação” e “teste” não possuem pacotes de
					trabalho. A empresa Alfa optou por terceirizá-lo para uma parceira
					em uma operação de outsourcing.</p>
				<br />
				<h4>Imagem:</h4>
				<img alt="" src="3.10.0/images/provas/prova-9.jpg" /> <br />
				<h4>Enunciado:</h4>
				<p>Analisando-se o EAP da empresa, conclui-se que as atividades
					de “codificação” e “teste”</p>
				<br />
				<h4>Alternativas:</h4>
				<br />
				<p>A) Devem ser inseridas no planejamento do projeto, uma vez
					que a empresa é a responsável pela implantação do software ( a
					terceirização foi uma opção da própria empresa).</p>
				<p>B) Devem ser inseridas no planejamento do projeto porque é
					obrigatório que um processo de software tenha as atividades de
					“codificação” e “teste” dentro do seus conjunto de atividades.</p>
				<p>C) Não devem ser inseridas no planejamento do projeto porque,
					como elas foram terceirizadas, não é necessário realizar controle
					de qualidade dessas atividades.</p>
				<p>D) Não devem ser inseridas no planejamento do projeto porque,
					como elas foram terceirizadas, não é necessário realizar o controle
					de produção- tempo, esforço e custo – dessas atividades.</p>
				<p>E) Não devem ser inseridas no planejamento do projeto, porque
					em um processo de software não é obrigatório que as atividades de
					“codificação” e “teste” estejam dentro do seu conjunto de
					atividades.</p>

			</div>

			<div class="ls-modal-footer">
				<div class="row">
					<div class="col-md-4">
						<button type="submit" class="ls-btn-primary">Salvar</button>
					</div>
					<div class="col-md-2">Status</div>
					<div class="col-md-2">
						<fieldset>
							<div class="row">
								<div class="form-group col-lg-4">
									<select class="form-control">
										<option selected="" value="0">-</option>
										<option value="1">Aprovada</option>
										<option value="2">Não Aprovada</option>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-md-4">
						<button class="ls-btn ls-float-right" data-dismiss="modal">Fechar</button>
					</div>
				</div>
				<hr />
			</div>
		</div>
	</div>
</div>

</main>

<div th:replace="fragments/base :: ls-notification"></div>

<div th:replace="fragments/base :: footer"></div>

</html>