<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="ls-theme-light-green">

<head>
<thymeleaf th:replace="fragments/base :: head" />
<title>Aprovar ou Reprovar Questão</title>
<meta charset="UTF-8" />
</head>

<div th:replace="fragments/base :: ls-topbar"></div>

<div th:replace="fragments/base :: ls-sidebar"></div>

<main class="ls-main">
<div class="container-fluid">
	<h1 class="ls-title-intro ls-ico-home">Aprovar ou Reprovar Questão</h1>


	<table class="ls-table">
		<tr>
			<th>Id</th>
			<th>Data de Criação</th>
			<th>Descrição</th>
			<th>Tipo</th>
			<th>Resposta</th>
			<th>Cadastrado por</th>
			<th>Status</th>
			<th>Detalhes</th>
		</tr>
		<tr th:each="questao: ${questoes}">
			<td th:text="${questao.questaoId}"></td>
			<td th:text="${questao.dataCriacao}"></td>
			<td th:text="${questao.textoBase}"
				style="white-space: nowrap; overflow: hidden; max-width: 180px; height: 30px; text-overflow: ellipsis;"></td>
			<td th:text="${questao.questaoTp.descricao}"></td>
			<td th:text="${questao.alternativa}"
				style="white-space: nowrap; overflow: hidden; max-width: 180px; height: 30px; text-overflow: ellipsis;"></td>
			<td th:text="${questao.usuario.login}"></td>
			<td>Aprovada</td>
			<td><a
				th:href="@{/aprovar-reprovar-questao-detalhes/editar/} + ${questao.questaoId}"><span
					class="ls-ico-menu" data-ls-module="modal" data-target="#1"></span></a></td>
		</tr>
	</table>
</div>

</main>

<div th:replace="fragments/base :: ls-notification"></div>

<div th:replace="fragments/base :: footer"></div>

</html>