<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	class="ls-theme-green ls-window-lg ls-screen-lg ls-browser-chrome">

<!--<html class="ls-theme-light-green">-->

<head th:replace="fragments/base :: head"></head>

<body
	class="documentacao documentacao_exemplos documentacao_exemplos_login-screen documentacao_exemplos_login-screen_index">

	<div class="ls-login-parent">
		<div class="ls-login-inner">
			<div class="ls-login-container">
				<div class="ls-login-box">
					<h1 class="ls-login-logo">
						<strong>Bem Vindo</strong> <img width="40" height="40"
							src="/3.10.0/images/ico-apple-books.png" />
					</h1>
					<form role="form" class="ls-form ls-login-form"
						th:action="@{/login}" method="post">
						<fieldset>

							<label class="ls-label"> <b
								class="ls-label-text ls-hidden-accessible">Usuário</b> <input
								name="username" class="ls-login-bg-user ls-field-lg" type="text"
								placeholder="E-mail" required="" autofocus="" />
							</label> <label class="ls-label"> <b
								class="ls-label-text ls-hidden-accessible">Senha</b>
								<div class="ls-prefix-group ls-field-lg">
									<input id="password_field" name="password"
										class="ls-login-bg-password" type="password"
										placeholder="Senha" required="" /> <a
										class="ls-label-text-prefix ls-toggle-pass ls-ico-eye"
										data-toggle-class="ls-ico-eye ls-ico-eye-blocked"
										data-target="#password_field"></a>
								</div>
							</label>

							<p>
								<a class="ls-login-forgot" th:href="@{/reset-senha.html}">Esqueci
									minha senha</a>
							</p>

							<input type="submit" value="Entrar"
								class="ls-btn-primary ls-btn-block ls-btn-lg" />
							<p>
								<a class="ls-txt-center ls-login-signup"
									th:href="@{primeiro-acesso.html}">Primeiro Acesso?</a>
							</p>

						</fieldset>
					</form>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script
		src="http://assets.locaweb.com.br/locastyle/3.10.0/javascripts/locastyle.js"
		type="text/javascript"></script>

</body>

</html>