<!DOCTYPE html>
<html class="ls-theme-green ls-window-lg ls-screen-lg ls-browser-chrome">

<html class="ls-theme-light-green">

<head>
  <title>Primeiro acesso</title>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Página de primeiro acesso">
  <link href="3.10.0\stylesheets\locastyle.css" rel="stylesheet" type="text/css">
  <link rel="icon" sizes="192x192" href="3.10.0\images\ico-apple-books.png">
</head>

<body class="documentacao documentacao_exemplos documentacao_exemplos_login-screen documentacao_exemplos_login-screen_index">

  <div class="ls-login-parent">
    <div class="ls-login-inner">
      <div class="ls-login-container">
        <div class="ls-login-box">
          <h2 class="ls-login-logo">
            <strong>Digite seu e-mail	</strong>
            <img width="40" height="40" src="3.10.0\images\ico-apple-books.png">
          </h2>
          <form action="" class="ls-form">
            <fieldset>
              <label class="ls-label col-md-auto">
      <b class="ls-label-text">E-mail</b>
      <input type="text" name="email" required >
    </label>
              <button type="button" value="input" class="ls-btn">Enviar</button>

        </div>
        </fieldset>
      </div>

    </div>
  </div>
  </div>

</body>

</html>