<!DOCTYPE html>
<html class="ls-theme-green ls-window-lg ls-screen-lg ls-browser-chrome">

<html class="ls-theme-light-green">

<head>
<thymeleaf th:replace="fragments/base :: head" />
<title>Redefinir Senha</title>
<meta charset="UTF-8" />
</head>

<body class="documentacao documentacao_exemplos documentacao_exemplos_login-screen documentacao_exemplos_login-screen_index">

  <div class="ls-login-parent">
    <div class="ls-login-inner">
      <div class="ls-login-container">
        <div class="ls-login-box">
          <h2 class="ls-login-logo">
            <strong>Digite seu e-mail</strong>
            <img width="40" height="40" src="3.10.0\images\ico-apple-books.png">
          </h2>
          <form action="" class="ls-form">
            <fieldset>
              <label class="ls-label col-md-auto">
      <b class="ls-label-text">E-mail</b>
      <input type="text" name="email" required >
    </label>
              <button type="button" value="input" class="ls-btn">Enviar</button>

        </div>
        </fieldset>
      </div>

    </div>
  </div>
  </div>

</body>

</html>